.gallery-fetch-button{
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.gallery-fetch-button-icon{
    width: 20px;
    height: 20px;
    background-image: url('../../assets/update-20.svg');
    transition: 0.3s;
}

.gallery-fetch-button:hover{
    background: #FF868E;
}

.gallery-fetch-button:hover > .gallery-fetch-button-icon{
    background-image: url('../../assets/update-white-20.svg');
}

.gallery-fetch-button-loading{
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 10px;
}

.gallery-fetch-button-icon-loading{
    width: 20px;
    height: 20px;
    background-image: url('../../assets/loading-16.png');
    background-size:cover;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}