.breeds-picker{
    width: 100%;
    display: grid;
    padding: 6px 10px;
    grid-template-columns: auto 12px;
    grid-gap: 0 10px;
    align-items: center;
    background-color: #F8F8F7;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #F8F8F7;
    transition: 0.3s;
}

.breeds-picker:hover{
    border: 2px solid rgba(251, 224, 220, 1);
}

.breeds-picker-label{
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
}

.arrow-down-icon-12{
    width: 12px;
    height: 12px;
    background-image: url('../../assets/drop-down-12.svg');
}

.lighter{
    background: #F8F8F7;
}

.darker{
    background: #FFFFFF;
}

.dark{
    .lighter{
        background: #333333;
        border: 2px solid #333333;
    }

    .lighter:hover{
        border: 2px solid rgba(255, 134, 142, 0.2)
    }
    
    .darker{
        background: #1D1D1D;
        border: 2px solid #1D1D1D;
    }

    .darker:hover{
        border: 2px solid #FF868E;
    }
}
