.page-instruments-layout{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 30px;
    display: grid;
    grid-template-rows: 60px auto;
    grid-gap: 10px 0;
}

.page-instruments-content{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    height: 100%;
    grid-template-rows: auto max-content;
}

.page-instruments-header{
    width: max-content;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0 10px;
    margin: 0 0 20px 0;
}

.page-instruments-breeds-header{
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content auto max-content max-content max-content;
    grid-gap: 0 10px;
    margin: 0 0 20px 0;
}

.page-instruments-breeds-content{
    display: grid;
    grid-template-rows: max-content auto max-content;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
}

.page-instruments-gallery-header{
    width: width;
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-gap: 0 10px;
    margin: 0 0 20px 0;
}

.page-instruments-upload-layout{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    padding: 30px;
}

.page-instruments-upload-content{
    width: 100%;
    height: max-content;
    min-height: 100%;
    background: #F8F8F7;
    border-radius: 20px;
    padding: 20px;
}

.page-instruments-upload-header{
    display: grid;
    grid-template-columns: auto max-content;
}

.page-instruments-upload-title-container{
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px 0;
}

.page-instruments-upload-title{
    width: 100%;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    color: #1D1D1D;
}

.page-instruments-upload-subtitle{
    width: 100%;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8C8C8C;
}
.page-instruments-upload-link{
    color: #FF868E;
}

.dark{
    .page-instruments-content{
        background: rgba(255, 255, 255, 0.05);
    }
    .page-instruments-breeds-content{
        background-color: rgba(255, 255, 255, 0.05);
    }
    .page-instruments-upload-content{
        background: #282828;
    }
    .page-instruments-upload-title{
        color: #fff;
    }
}