.actions-log-list-item{
    background-color: #F8F8F7;
    width: 100%;
    display: grid;
    grid-template-columns: max-content auto 20px;
    padding: 15px 20px 15px 15px;
    grid-gap: 0 20px;
    align-items: center;
    border-radius: 10px;
}

.actions-log-list-item-date{
    font-family: 'Jost', sans-serif;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
}

.actions-log-list-item-label{
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
}

.actions-log-list-item-label-bolt{
    font-weight: 500;
    color: #1D1D1D;
}

.like-icon-color-20{
    background-image: url('../../assets/like-color-20.svg');
    width: 20px;
    height: 20px;
}

.dislike-icon-color-20{
    background-image: url('../../assets/dislike-color-20.svg');
    width: 20px;
    height: 20px;
}

.fav-icon-20{
    background-image: url('../../assets/fav-20.svg');
    width: 20px;
    height: 20px;
}

.dark{
    .actions-log-list-item{
        background: rgba(255, 255, 255, 0.05);
    }
    .actions-log-list-item-label-bolt{
        color: rgba(255, 255, 255, 1);
    }
    .actions-log-list-item-date{
        background: #1D1D1D;
        color: #fff;
    }
}

@media (max-width: 479px) {
    .actions-log-list-item-label{
        order: 1;
        grid-column: span 2;
    }
    .actions-log-list-item{
        grid-template-columns: auto min-content;
        grid-gap: 10px;
    }
    .actions-log-list-item-date{
        width: max-content;
    }
}

