.home-page{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-page-left{
    width: 100%;
    height: 100%;
    background-color: black;
}

.home-page-right{
    width: 100%;
    height: 100%;
    position: relative;
}

.home-page-right-illustration{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url('../../assets/girl-and-pet.png');
    background-repeat: no-repeat; 
    background-position: left; 
    background-size: cover;
}

.home-page-right-background-contaiter{
    width: 100%;
    height: 100%;
    padding: 30px;
}

.home-page-right-background{
    width: 100%;
    height: 100%;
    background-color: #FBE0DC;
    border-radius: 20px;
}