.back-button{
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #FBE0DC;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.back-icon-20{
    background-image: url('../../assets/back-20.svg');
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

.back-button:hover{
    background-color: #FF868E;
}

.back-button:hover > .back-icon-20{
    background-image: url('../../assets/back-white-20.svg');
}