.file-name-tag{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8C8C8C;
}