
.close-button{
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.close-button-icon{
    width: 20px;
    height: 20px;
    background-image: url('../../assets/close-20.svg');
    transition: 0.3s;
}

.close-button:hover{
    background: #FF868E;
}

.close-button:hover > .close-button-icon{
    background-image: url('../../assets/close-white-20.svg');
}

.dark{
    .close-button{
        background: rgba(255, 255, 255, 0.05);
    }
    .close-button:hover{
        background: #FF868E;
    }
}

.close-button-big{
    width: 60px;
    height: 60px;
    padding: 14px;
    border-radius: 20px;
}

.close-button-big{
    .close-button-icon{
        width: 32px;
        height: 32px;
        background-size: cover;
    }
}