.instruments-lebel{
    padding: 5px 30px;
    width: max-content;
    background: #FBE0DC;
    border-radius: 10px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
    color: #FF868E;
    text-transform: uppercase;
}
.instruments-lebel-active{
    background: #FF868E;
    color: #FFFFFF;
}

.dark{
    .instruments-lebel{
        background: rgba(255, 134, 142, 0.2);
    }
    .instruments-lebel-active{
        background: #FF868E;
    }
}

