.app-navigation{
    padding: 30px;
    position: sticky;
    height: 100vh;
    top: 0;
}

.app-navigation-content-container{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.app-navigation-header{
    display: grid;
    grid-template-columns: auto max-content;
}

.app-logo{
    display: block; 
    background-image: url('../../assets/logo.svg');
    width: 106px;
    height: 24px;
    margin: 0;
}

.app-navigation-content{
    margin: 80px 0 0;
}

.distance-dec{
    margin: 80px 0 0;
}

.app-navigation-title{
    font-family: 'Jost', sans-serif;
    font-size: 44px;
    color: #1D1D1D;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
}

.app-navigation-subtitle{
    margin: 10px 0 0;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    color: #8C8C8C;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.app-navigation-buttons-title{
    margin: 60px 0 0;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    color: #1D1D1D;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
}

.app-navigation-buttons-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 16px;
    margin: 20px 0 0;
}

.app-navigation-content-container-mobile{
    max-width: 100%;
}

.dark{
    .app-logo{
        background-image: url('../../assets/Logo-dark.svg');
    }
    .app-navigation-title{
        color: #FFFFFF;
    }
    .app-navigation-subtitle{
        color: #8C8C8C;
    }
    .app-navigation-buttons-title{
        color: #FFFFFF;
    }
}

.app-navigation-text{
    display: grid;
}

.app-navigation-header-mobile{
    display: none;
}

.app-navigation-text-mobile{
    display: none;
}

.app-navigation-header-home{
    max-width: 450px;
    margin: 0 auto;
}

@media (max-width: 1023px) {
    .app-navigation-text{
        display: none;
    } 
    .app-navigation-header{
        display: none;
    }
    .app-navigation-header-mobile{
        display: grid;
    }
    .app-navigation-text-mobile{
        display: grid;
    }
    .distance-dec{
        margin: 8px 0 0;
    }
    .app-navigation-content-container{
        max-width: 100%;
    }
    .app-navigation-content-container-mobile{
        max-width: 450px;
        margin: 0 auto;
    }
}

@media (max-width:479px) {
    .app-navigation-content{
        height: max-content;
    }
    .app-navigation-buttons-container{
        height: max-content;
        grid-template-columns: 1fr;
        grid-gap: 20px 0;
    }
}